*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animation{
    background: red;
    width: 10px;
    height: 50px;
    position: absolute;
    animation: ani 4s infinite;
}
.animation2{
    background: red;
    width: 10px;
    height: 50px;
    position: absolute;
    animation: ani2 4s infinite;
    left: 20px;
}
.animation3{
    background: red;
    width: 10px;
    height: 50px;
    position: absolute;
    animation: ani3 4s infinite;
    left: 40px;
}
.animation4{
    background: red;
    width: 10px;
    height: 50px;
    position: absolute;
    animation: ani4 4s infinite;
    left: 60px;
}
@keyframes ani{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
   }
}
@keyframes ani2{
    0%{
        transform: scaleY(0);
    }
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    75%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
   }
}
@keyframes ani3{
    0%{
        transform: scaleY(0);
    }
    25%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(0);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
   }
}
@keyframes ani4{
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
   }
}


.box{
    margin: 50px;
    width: 200px;
    height: 200px;
    background: black;
    animation: boxani 4s infinite;
}
@keyframes boxani{
    0%{
        transform: rotateY(180deg)
    }
    25%{
        transform: rotateY(90deg);
    }
    50%{
        transform: rotateY(-180deg);
    }
    75%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(180deg);
   }
}